body{
    font-size: 62.5%;
    margin: 0;
    padding: 0;}
.header{
    color: #fff;
    font-family: "Adobe 黑体 Std R";
    font-size:32px;
    background-color:rgb(95,192,205);
    top: 0;
    left: 0;
    width: 100%;
    padding: 3.16vw 0;
    text-align: center;
}
.close{
    float: left;
    padding:0 3.16vw;
}
.enroll{
    float: right;
    padding:0 3.16vw;
}
.main{
    border-style: solid;border-color:rgb(239,240,244);
    border-width:16px 1px 69px 1px;
}
.username,.password{
    padding: 3vw 4.2vw;
    border-style: solid;
    width:100%;
    border-width: 0 0 10px 0px;
    border-color: rgb(239, 240, 244);
    padding-left: 17vw;
    font-size: 32px;
    color:rgb(225,229,231);
}
input[type="text"]{
    background: url("images/t.png") no-repeat 1rem center;
    background-size: 15.21vw 10.21vw;
    background-color:#fff;
}
input[type="password"]{
    background: url("images/b.png") no-repeat 1rem center;
    background-size: 15.21vw 10.21vw;
    background-color:#fff;
}

button{
    padding: 5.11vw 0 5.11vw 0;
    background-color:rgb(95,192,205);
    color: #fff;
    text-align: center;
    font-size: 36px;
    width:100%;
}
.nopassword{
    float: right;
    padding: 1vw;
    color:rgb(95,192,205);
    font-size: 32px;
    text-align: center;
}
